*.rdb
./artifacts
./chart
./coverage
./docker
./fcrepo
./importer
./log
./pg
./public/assets
./public/branding
./public/packs
./public/system
./public/uploads
./tmp
.coveralls.yml
.ebextensions
.fcrepo_wrapper
.git
.github
.gitignore
.hound.yml
.idea
.internal_test_app/*
.solr_wrapper

node_modules/*
solr/solr/*
fcrpo/*
pg/*
Dockerfile*
fits.log
ImageMagick*