# Pinning to 1.0.5 until https://github.com/harvard-lts/fits/issues/140 is resolved
sources:
  /opt/fits: http://s3.amazonaws.com/hybox-deployment-artifacts/fits-1.0.5.zip

container_commands:
  01_symlink_fits:
    command: ln -sf /opt/fits/fits-1.0.5/fits.sh /usr/local/bin/fits.sh
  02_chmod_fits:
    command: chmod a+x /opt/fits/fits-1.0.5/*.sh
