packages:
  yum:
    libXinerama: []
    dbus-glib: []

sources:
  /opt/libre_office: http://s3.amazonaws.com/hybox-deployment-artifacts/libreoffice5.1.zip

container_commands:
  01_install_rpms:
    command: rpm -ivh /opt/libre_office/*.rpm
    ignoreErrors: true
  02_symlink_soffice:
    command: ln -sf /opt/libreoffice5.1/program/soffice /usr/local/bin/soffice
