packages:
  yum:
    gettext: []

files:
  "/etc/init/filebeat.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      description "Filebeat Upstart Manager - Enables log capture"

      start on runlevel [2345]
      stop on runlevel [!2345]

      respawn
      respawn limit 10 30

      exec /usr/share/filebeat/bin/filebeat -e -c /etc/filebeat/filebeat.yml > /var/log/filebeat.log 2>&1

  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat:
        prospectors:
          -
            paths:
              - /var/log/eb-commandprocessor.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-commands
          -
            paths:
              - /var/log/eb-version-deployment.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-version-deployment
          -
            paths:
              - /var/log/eb-activity.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-activity
          -
            paths:
              - /var/log/nginx/access.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: nginx
          -
            paths:
              - /var/log/nginx/error.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: nginx-error
          -
            paths:
              - /var/log/puma/puma.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: puma
          -
            paths:
              - /var/app/current/log/production.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: production
              
        registry_file: /var/lib/filebeat/registry

      output:
        logstash:
          hosts: ["listener.logz.io:5015"]
          ssl:
            certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']

commands:
  1_download_filebeat:
    command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-5.2.0-x86_64.rpm"
    cwd: /home/ec2-user
  2_install_filebeat:
    command: "rpm -ivh --replacepkgs filebeat-5.2.0-x86_64.rpm"
    cwd: /home/ec2-user
  3_certs_dir:
    command: "mkdir -p /etc/pki/tls/certs"
    cwd: /home/ec2-user
  4_download_cert:
    command: "wget https://raw.githubusercontent.com/cloudflare/cfssl_trust/master/intermediate_ca/COMODORSADomainValidationSecureServerCA.crt"
    cwd: /etc/pki/tls/certs
  5_disable_sysv:
    command: chkconfig --del filebeat

container_commands:
  6_variable_substitute:
    command: "envsubst < filebeat.yml > filebeat-subst.yml; cat filebeat-subst.yml > filebeat.yml; rm -f filebeat-subst.yml"
    cwd: /etc/filebeat
  7_start_filebeat:
    command: "start filebeat"
