packages:
  yum:
    gettext: []

files:
  "/etc/yum.repos.d/elastic.repo":
    mode: "000755"
    owner: root
    group: root
    content: |
      [elastic-5.x]
      name=Elastic repository for 5.x packages
      baseurl=https://artifacts.elastic.co/packages/5.x/yum
      gpgcheck=1
      gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
      enabled=1
      autorefresh=1
      type=rpm-md

  "/etc/init/filebeat.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      description "Filebeat Upstart Manager - Enables log capture"

      start on runlevel [2345]
      stop on runlevel [!2345]

      respawn
      respawn limit 10 30

      exec /usr/share/filebeat/bin/filebeat -e -c /etc/filebeat/filebeat.yml > /var/log/filebeat.log 2>&1

  "/etc/filebeat/filebeat.yml":
    mode: "000755"
    owner: root
    group: root
    content: |
      filebeat:
        prospectors:
          -
            paths:
              - /var/log/eb-commandprocessor.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-commands
          -
            paths:
              - /var/log/eb-version-deployment.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-version-deployment
          -
            paths:
              - /var/log/eb-activity.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: eb-activity
          -
            paths:
              - /var/log/nginx/access.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: nginx
          -
            paths:
              - /var/log/nginx/error.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: nginx-error
          -
            paths:
              - /var/log/puma/puma.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: puma
          -
            paths:
              - /var/app/current/log/production.log
            fields:
              logzio_codec: plain
              token: ${LOGZIO_KEY}
              environment: ${STACK_NAME}
            fields_under_root: true
            document_type: production
              
        registry_file: /var/lib/filebeat/registry

      output:
        logstash:
          hosts: ["listener.logz.io:5015"]
          ssl:
            certificate_authorities: ['/etc/pki/tls/certs/COMODORSADomainValidationSecureServerCA.crt']

commands:
  1_signing_key:
    command: "rpm --import https://packages.elastic.co/GPG-KEY-elasticsearch"
  2_certs_dir:
    command: "mkdir -p /etc/pki/tls/certs"
    cwd: /home/ec2-user
  3_download_cert:
    command: "wget https://raw.githubusercontent.com/cloudflare/cfssl_trust/master/intermediate_ca/COMODORSADomainValidationSecureServerCA.crt"
    cwd: /etc/pki/tls/certs
  4_install_filebeat:
    command: "yum -y install filebeat"    
  5_disable_sysv:
    command: chkconfig --del filebeat

container_commands:
  6_variable_substitute:
    command: "envsubst < filebeat.yml > filebeat-subst.yml; cat filebeat-subst.yml > filebeat.yml; rm -f filebeat-subst.yml"
    cwd: /etc/filebeat
  7_start_filebeat:
    command: "start filebeat"
