<% if display_content_block? @home_text %>
  <div class="home_page_text homepage-text-container">
    <%= displayable_content_block @home_text, class: 'col-sm-12 home_page_text p-20' %>
  </div>
<% end %>
