<div class="container mb-40"><!--- BEGIN RECENT WORKS SECTION -->
  <div class="row">
    <div class="col-sm-12 cultural-repository recent-works-container"> <!-- can toggle on/off -->
      <h4>Recent Works</h4>
        <%= render 'themes/cultural_repository/hyrax/homepage/recently_uploaded', recent_documents: @recent_documents %>
    </div>
  </div>
</div><!--- END RECENT WORKS SECTION -->
