<h1 class='text-center'> Thank you for signing in. Your dashboard is loading</h1>
<div class="loader">Loading...</div>
<script>
  Blacklight.onLoad(function() {
    window.setTimeout(function(){
      window.location.href =  "<%= hyrax.dashboard_path %>"
    }, 1000)
  })
</script>
