<% if presenter.representative_id.present? %>
  <% if presenter.representative_presenter.image? %>
    <%= UniversalViewer.script_tag %>
    <div class="uv viewer" data-uri="<%= main_app.polymorphic_path [main_app, :manifest, presenter] %>"></div>
  <% else %>
    <%= media_display presenter.representative_presenter %>
  <% end %>
<% else %>
  <%= image_tag 'nope.png', class: "canonical-image" %>
<% end %>

