<% if display_content_block? @home_text %>
  <div class="home_page_text homepage-text-container mb-40">
    <%= displayable_content_block @home_text, class: 'home_page_text p-20' %>
  </div>
<% end %>