<div class="ir-stats hidden-xs">
  <% resource_types.each.with_index do |(k,v), i| %>      
    <% next if v[0].zero? %>
    <div class="col-xs-12 col-sm-4 col-md-2">
      <div class="text-center">
        <i class='<%= "#{v[1]}" %>' aria-hidden="true"></i>
        <h5><%= k %></h5>
        <p><%= v[0] %></p>
      </div>
    </div>
  <% end %>
</div>