<h2>Browse by Collection</h2>
<% top_level_collections = @collections.select{ |c| c['nesting_collection__deepest_nested_depth_isi'] == 1 }%>
<% top_level_collections.each do |collection| %>
  <div class="col-sm-12">
    <div>
      <ul class="all-collection-list">
        <%= link_to [hyrax, collection] do %>
          <li><%= collection.title_or_label %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>