<div class="neutral_repository featured-researcher mb-40 p-20">
  <% if @featured_researcher.value.present? %>
    <%= displayable_content_block @featured_researcher %>
  <% else %>
    <%= t('hyrax.homepage.featured_researcher.missing') %>
  <% end %>
</div>