<section id="banner" class="jumbotron">
  <div class="container">
    <h1><%= application_name %></h1>
    <p><%= t('application.tagline') %></p>
    <p>
      <%= link_to 'Sign Up', new_account_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</section>
