<section id="banner" class="jumbotron">
  <div class="container">
    <h1><%= application_name %></h1>
    <p><%= t('application.tagline') %></p>
    <p>
      <%= link_to 'Get Started', new_account_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</section>

<section class="product-features">
  <div class="row grid-row">
    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading">Easy</h2>
      <p>
        Works for institutions large and small, from museums to university libraries. Nothing to install. Get started in minutes.
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading">Feature-Rich</h2>
      <p>
        All the features you'd expect from a mature repository system. Supports a wide range of content types and use cases.
      </p>
    </div>

    <div class="col-xs-12 col-sm-4 grid-item">
      <h2 class="heading">Flexible</h2>
      <p>
        Customize the user interface to match your institution's brand indentity. Tailor workflows to match how your staff likes to work.
      </p>
    </div>
  </div>
</section>
