<%# Override from hyrax 2.5.1 to add feature flags to show/hide:
  featured researcher
  featured works
  recently_uploaded
  also, to render featured collections
%>

<%# OVERRIDE: Hyrax v3.4.2 - For dc_repository custom theming:
  remove check for featured works
  remove check for recently uploaded
  remove featured works
  remove recently uploaded
  remove featured researcher
  add featured collections section, remove div classes
  add browse collection section, remove div classes
%>

<div>
  <%# OVERRIDE: Hyrax v3.4.2 - add featured collections section, remove div classes %>
  <div>
    <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
    <%= render 'featured_collection_section' %>
  </div>
  <%# OVERRIDE: Hyrax v3.4.2 - add browse collection section, remove div classes %>
  <div>
    <h2 class="sr-only"><%= t('hyrax.homepage.admin_sets.title') %></h2>
    <%= render 'browse_collections_section' %>
  </div>
</div>
