<%# OVERRIDE /usr/local/bundle/gems/devise-i18n-1.10.2/app/views/devise/sessions/new.html.erb to add customization to log in page %>
<%# OVERRIDE because we are using CAS, we get rid of the sign in form %>

<h2 class="">Log in</h2>
<div class="row">
  <div class="col-md-4">
    <div class="">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
