<div class="viewer-wrapper">
  <iframe
    id="clover-iiif-iframe"
    src="<%= clover_iiif_base_url %>?manifest=<%= main_app.polymorphic_url [main_app, :manifest, presenter], { locale: nil } %>"
    allowfullscreen="true"
    frameborder="0"
  ></iframe>
</div>
