<%# OVERRIDE: Hyrax v3.4.2 - new partial to contain reusable elements for subpages for custom client theming of dc_repository theme %>
<div class="collection-image-masthead d-flex">
  <div class="background-container"  title="<%= bg_title %>" style="background-image: url('<%= bg_image %>')"></div>
  <div class="utk-digital-elements-wrapper">
    <div class="container-fluid d-flex">
      <div class="row">
        <div class="utk-digital-search-container d-flex">
          <div class="utk-digital-search-heading d-flex">
            <span class="utk-heading-1" role="heading" aria-level="1">Digital Collections</span>
            <span class="utk-description" role="subheading">
              <span>Explore Items digitized from our collections.</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

