<% # OVERRIDE: Hyrax v3.4.1 - complete rewrite for custom theming %>

<footer id="utk-lib-footer">
<!-- libraries footer section -->
  <section class="utk-footer footer-libraries">
    <div class="container">
      <div class="footer-libraries--inner d-flex">
        <div class="footer-libraries--anchor d-flex">
          <div class="footer-libraries--identity">
            <div class="footer-libraries--identity--brand d-flex">
              <a href="/" class="footer-libraries--identity--brand--unit">University Libraries</a>
            </div>
            <p>
              1015 Volunteer Boulevard
              <br />
              Knoxville, TN 37996
              <br />
              <a href="tel:865-974-4351" title="Call The University of Tennessee - 865-974-4351">865-974-4351</a>
            </p>
          </div>
          <div class="footer-libraries--menu-extras">
            <div>
              <div class="utk-resources-menu--section">
                <ul class="utk-resources-menu--submenu">
                  <li>
                    <a href="https://www.lib.utk.edu/about/administration">Administration</a>
                  </li>
                  <li>
                    <a href="https://www.lib.utk.edu/contact/">Contact UT Libraries</a>
                  </li>
                  <li>
                    <a href="https://www.lib.utk.edu/contact/website-feedback/">Comments &amp; Feedback</a>
                  </li>
                  <li>
                    <a href="https://libanswers.utk.edu/systems/">System Status</a>
                  </li>
                  <li>
                    <a href="https://www.lib.utk.edu/about/policies/web-privacy/">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="https://www.lib.utk.edu/intranet/">Staff Only</a>
                  </li>
                  <li>
                    <a href="https://bigorangegive.utk.edu/libraries/">Give to UT Libraries</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-libraries--menu d-flex">
          <div class="utk-resources-menu--col">
            <div class="utk-resources-menu--section">
              <h2 class="utk-resources-menu--trigger">Find Materials</h2>
              <div class="utk-resources-menu--submenu d-flex">
                <a href="https://www.lib.utk.edu/onesearch/" rel="canonical">One Search</a>
                <a href="https://www.lib.utk.edu/databases/" rel="canonical">Articles &amp; Databases</a>
                <a href="https://www.lib.utk.edu/finding-ejournals/">E-Journals</a>
                <a href="/access/course-reserves/">Course Reserves</a>
                <a href="https://digital.lib.utk.edu/">Digital Collections</a>
                <a href="https://www.lib.utk.edu/special/">Special Collections</a>
                <a href="https://libguides.utk.edu/az.php?s=55546">UT Dissertations</a>
              </div>
            </div>
          </div>
          <div class="utk-resources-menu--col">
            <div class="utk-resources-menu--section">
              <h2 class="utk-resources-menu--trigger">Research</h2>
              <div class="utk-resources-menu--submenu d-flex">
                <a href="https://www.lib.utk.edu/askusnow/subject-librarians/">Subject Librarians</a>
                <a href="https://www.lib.utk.edu/askusnow/appointment/">Research Consultation</a>
                <a href="https://libguides.utk.edu/">Research Guides</a>
                <a href="https://lib.utk.edu/info/research">Research Tools</a>
                <a href="https://www.lib.utk.edu/scholar/">Scholars’ Collaborative</a>
                <a href="https://libguides.utk.edu/style/">Citing Sources</a>
                <a href="https://libguides.utk.edu/citeman/">EndNote / Zotero</a>
              </div>
            </div>
          </div>
          <div class="utk-resources-menu--col">
            <div class="utk-resources-menu--section">
              <h2 class="utk-resources-menu--trigger">Resources</h2>
              <div class="utk-resources-menu--submenu d-flex">
                <a href="https://www.lib.utk.edu/instruct/">Teaching &amp; Learning</a>
                <a href="https://www.lib.utk.edu/access/borrow-renew/">Borrow &amp; Renew</a>
                <a href="https://libguides.utk.edu/databases/490">Google Scholar</a>
                <a href="https://www.lib.utk.edu/info/tech/">Technology Support</a>
                <a href="https://libguides.utk.edu/tutorials">Tutorials</a>
                <a href="https://libanswers.utk.edu/">Get Help</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- university footer section -->
  <section class="utk-footer footer-university">
    <div class="container">
      <div class="footer-university--inner d-flex">
        <div class="footer-university--anchor">
          <div class="footer-university--identity">
            <div class="footer-university--identity--brand d-flex">
              <a href="https://www.utk.edu" class="footer-university--identity--brand--logo">
                <span class="sr-only">The University of Tennessee</span>
              </a>
            </div>
            <p>
              <strong class="footer-university--title">The University of Tennessee, Knoxville</strong>
              Knoxville, TN 37996
              <br />
              <a href="tel:865-974-1000" title="Call UT Libraries - 865-974-1000">865-974-1000</a>
            </p>
          </div>
        </div>
        <div class="footer-university--more">
          <%# <div class="footer-university--search">
            <form
              class="footer-university--search--form d-flex"
              id="utk_seek"
              name="utk_seek"
              method="post"
              accept-charset="iso-8859-1"
              action="//www.utk.edu/masthead/query.php"
            >
              <div class="form-group">
                <input
                  type="text"
                  name="qt"
                  class="form-control"
                  title="search"
                  speech=""
                  x-webkit-speech=""
                  value=""
                />
              </div>
              <input
                type="hidden"
                name="qtype"
                class="searchtext"
                title="search type"
                value="utk"
              /><input
                name="go"
                type="submit"
                aria-label="Search utk.edu"
                title="Submit"
                class="btn search-btn d-flex"
                value="Search"
              />
            </form>
          </div> %>
          <div class="footer-university--menu d-flex">
            <div class="utk-resources-menu--col d-flex">
              <a href="https://calendar.utk.edu/">Events</a>
              <a href="https://maps.utk.edu/">Map</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/alpha/">A-Z</a>
              <a href="https://directory.utk.edu/">Directory</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/admissions/">Apply</a>
              <a href="https://giveto.utk.edu/">Give to UT</a>
            </div>
            <div class="utk-resources-menu--col d-flex">
              <a href="https://www.utk.edu/aboutut/privacy/">Privacy</a>
              <a href="https://oed.utk.edu/ada/campus-accessibility/">Accessibility</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>