<%# NOTE: The #new action does not use this navigation partial. %>
<div class="panel-tab-wrapper">
  <ul class="nav nav-tabs">
    <% navigation_presenter.tabs.each do |tab| %>
      <%= content_tag :li, role: 'presentation', class: tab.css_class do %>
        <%= link_to tab.name, tab.path %>
      <% end %>
    <% end %>
  </ul>
  <%= link_to t('hyku.admin.groups.nav.index'), admin_groups_path, class: 'pull-right nav-escape-link' %>
</div>
