<% content_for :page_title, "New Group // Administration // #{application_name}" %>
<h1>
  <span class="fa fa-users"></span>
  New Group
</h1>
<div class="panel-tab-wrapper">
  <ul class="nav nav-tabs">
    <li role="presentation" class="active">
      <a href="javascript:void(0);">Description</a>
    </li>
    <li role="presentation" class="disabled">
      <a href="javascript:void(0);">Users</a>
    </li>
    <li role="presentation" class="disabled">
      <a href="javascript:void(0);">Remove</a>
    </li>
  </ul>
  <%= link_to 'return to Manage Groups', admin_groups_path, class: 'pull-right nav-escape-link' %>
</div>
<%= render 'form' %>
