<% content_for :page_title, "Edit Group // Administration // #{application_name}" %>
<h1>
  <span class="fa fa-users"></span>
  Edit Group
</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <blockquote class="callout callout-danger callout-with-action">
      <h3>Remove Group “<%= @group.name %>”</h3>
      <p>
        This action is irreversible. It will remove all privileges group members
        have been assigned through this group.
      </p>
      <div class="callout-action">
        <%= link_to 'Remove Group',  admin_group_path(@group), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to remove this group?' } %>
      </div>
    </blockquote>
  </div>
</div>
