.account-form {
  margin: 0 10px 30px;

  h1,
  h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }

  label,
  .actions,
  .form-actions {
    text-align: right;
  }

  .actions .btn,
  .form-actions .btn {
    margin-left: 10px;
  }

  .help-block {
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.registration {
  .required-tag {
    display: none;
  }
}

.field_with_errors {
  border-radius: $border-radius-base;
  margin-top: 5px;
}
