
#masthead,
#footer {
  background-color: #3c3c3c;
  border: 0;

  a,
  p {
    color: #ccc;
    font-weight: 500;
  }
}

#masthead {
  #logo {
    margin-left: 10px;
  }

  .navbar-right {
    margin-right: 10px;
  }

  .glyphicon {
    display: none;
  }
}

.jumbotron {
  background-color: #eee;
  background: url('white-cloud-background.jpg') repeat-x;
  border: 0;
  font-family: "Lato", Helvetica, sans-serif;
  margin-bottom: 0;
  text-align: center;

  h1 {
    color: #30373b;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  p {
    color: #444;
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  .btn-sign-up {
    background-color: #7ab55c;
    border-color: #7ab55c;
    border-radius: 3px;
    color: #fff;
    font-size: 0.7em;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .btn-sign-up:hover,
  .btn-sign-up:focus,
  .btn-sign-up:active,
  .btn-sign-up.active {
    background-color: #6daa4d;
    border-color: #619945;
  }

  .btn-sign-up.disabled:hover,
  .btn-sign-up.disabled:focus,
  .btn-sign-up.disabled:active,
  .btn-sign-up.disabled.active,
  .btn-sign-up[disabled]:hover,
  .btn-sign-up[disabled]:focus,
  .btn-sign-up[disabled]:active,
  .btn-sign-up[disabled].active,
  fieldset[disabled] .btn-sign-up:hover,
  fieldset[disabled] .btn-sign-up:focus,
  fieldset[disabled] .btn-sign-up:active,
  fieldset[disabled] .btn-sign-up.active {
    background-color: #7ab55c;
    border-color: #7ab55c;
  }
}

#footer {
  border-radius: 0;
  font-size: 0.9em;
  min-height: 40px;
  vertical-align: middle;

  p {
    margin: 10px;
    text-align: center;

    strong {
      font-weight: 500;
    }
  }
}

.copyright {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.product-features {
  background: #f4f4f4;
  border-top: 1px solid #ddd;
  font-family: "Lato", Helvetica, sans-serif;
  padding: 20px 0 50px;

  .grid-row {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  .grid-item p {
    font-size: 1em;
    line-height: 1.5em;
  }

  .grid-item .heading {
    color: #555;
    font-size: 1.4em;
  }
}

.graph-container {
  height: 300px; // height must be specified or flot.js raises an error.
  width: 60%; // height must be specified or flot.js raises an error.

  .graph {
    height: 100%;
  }
}
