#masthead,
footer.navbar {
  background-color: $header-background-color;
  border: 0;

  a,
  p {
    color: $color-medium-gray;
    font-weight: 500;
  }

  .dropdown-menu a {
    color: $gray;
  }
}

#masthead {
  #logo {
    margin-left: 10px;
  }

  .navbar-right {
    margin-right: 10px;
  }

  .glyphicon {
    display: none;
  }
}

.jumbotron {
  background: image_url('white-cloud-background.jpg') repeat-x;
  background-color: $gray-lighter;
  border: 0;
  font-family: $primary-font-family;
  margin-bottom: 0;
  text-align: center;

  h1 {
    color: $jumbotron-heading-color;
    font-size: $jumbotron-heading-font-size;
    font-weight: 700;
    letter-spacing: 0.075em;
    text-transform: uppercase;
  }

  p {
    color: $jumbotron-sub-heading-color;
    font-size: 1.6em;
    margin-bottom: 20px;
  }

  .btn-sign-up {
    @include button-variant($classic-white, $jumbotron-button-background-color, $jumbotron-button-background-color);
    border-radius: 3px;
    font-size: 0.7em;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

footer.navbar {
  border-radius: 0;
  font-size: 0.9em;
  min-height: 40px;
  vertical-align: middle;

  p {
    margin: 10px;
    text-align: center;

    strong {
      font-weight: 500;
    }
  }
}

.product-features {
  background: $features-section-background-color;
  border-top: 1px solid $features-section-border-color;
  font-family: $primary-font-family;
  padding: 20px 0 50px;

  .grid-row {
    margin-left: auto;
    margin-right: auto;
  }

  .grid-item {
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
  }

  .heading {
    color: $gray;
    font-size: 1.4em;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
  }
}

.graph-container {
  height: 300px; // height must be specified or flot.js raises an error.
  width: 60%; // height must be specified or flot.js raises an error.

  .graph {
    height: 100%;
  }
}

#sidebar {
  .nav {
    .nav {
      text-indent: 2ch;
    }
  }

  .h5 {
    padding: $nav-link-padding;
  }
}

.panel-tab-wrapper {
  margin-top: 5em;
  padding-bottom: 1px;
}

.nav-escape-link {
  margin-top: -30px;
}

.group-user-listing .table td {
  vertical-align: middle;
}

.group-listing .table {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 0 15px;

  td {
    vertical-align: middle;
  }

  .panel-heading {
    line-height: 2.4em;
  }

  td:nth-child(2),
  th:nth-child(2) {
    text-align: right;
    width: 5em;
  }

  td:nth-child(3),
  th:nth-child(3) {
    text-align: right;
    width: 9em;
  }

  td:nth-child(4),
  th:nth-child(4) {
    text-align: center;
    width: 13em;
  }
}

.full-width-container {
  padding-left: 0;
  padding-right: 0;
}

.list-scope {
  position: relative;

  .list-scope__query {
    padding-right: 1.8em;
  }

  .list-scope__reset {
    bottom: 0.4em;
    position: absolute;
    right: 0.5em;
  }
}

.js-typeahead__empty-message {
  padding: 5px 15px;
}

.callout-danger {
  background-color: $well-bg;
  border-color: $brand-danger;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $brand-danger;
  }
}
