/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/
@import "variables";
@import "bootstrap-default-overrides";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "blacklight/blacklight";
@import "font-awesome";
@import "hyrax/hyrax";
@import "hyku";
@import "accounts";
@import "viewer";
@import "utk-overrides";

@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";

@import "themes/*";

.form-control.select2-container-multi {
  height: auto;
  width: 80%;
}

.select2-container-multi {
  .select2-choices {
    border: 0;
    margin: 0;
  }
}