// Place all the styles related to the SingleSignon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-centered {
  background-color: #ff0000;
  margin: 80px auto;
  text-align: center;
}

.sso-button {
  background-color: #ffffff;
  border: 1px solid;
  margin: 100px 0 200px;
  min-height: 300px;
  padding: 20px 50px;
}

.sso-button-fake {
  margin-top: 100px;
}

.loader {
  -webkit-animation: spin 2s linear infinite; // Safari
  animation: spin 2s linear infinite;
  border-radius: 50%;
  border-top: 16px solid #0a1f61;
  border: 16px solid #f3f3f3;
  color: #f3f3f3;
  font-size: 11px;
  height: 120px;
  margin: 55px auto 150px;
  text-indent: -99999em;
  width: 120px;
}
// Safari
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
