@import "variables.scss";
@import "utk-fonts.scss";

// PUBLIC FACING
body.public-facing.utk-public-facing {
  font-family: "Gotham";

  //padding bootstrap classes
  .pt-40 {
    padding-top: 40px;
  }

  .pb-40 {
    padding-bottom: 40px;
  }
}
