@import "variables.scss";
@import "utk-fonts.scss";

// CUSTOM STYLES

// GENERAL
// * {
//   border: 2px red solid;
// }
// .utk-logo-wrapper {
//   z-index: 998;
//   padding: 0;
//   width: auto;
//   height: 100%;
//   position: absolute;
// }

a#library-link,
a#utk-lib-menu {
  display: none;
}

// PUBLIC FACING
body.public-facing.utk-public-facing {
  background-color: $white;
  font-family: "Gotham";
  color: $smokey !important;

  // TEXT STYLES
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Gotham" !important;
    color: $smokey !important;
  }

  h1 {
    font-size: 40px;
    font-weight: 500;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 24px;
    font-weight: 300;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-family: "Gotham" !important;
    font-size: 16px;
    text-transform: uppercase;
    color: $smokeyx !important;
    letter-spacing: 1pt;
  }

  p {
    color: $smokeyx;
    font-size: 15px;
  }

  .btn {
    &.btn-primary,
    &.btn-danger {
      color: #fff;
    }

    &.btn-primary {
      background-color: $globe;
    }
  }

  .utk-logo-wrapper {
    z-index: 998;
    padding: 0;
    width: auto;
    height: 100%;
    position: absolute;
  }

  #sort-dropdown .dropdown-toggle,
  #per_page-dropdown .dropdown-toggle {
    color: $smokey !important;
  }

  // MAIN NAV
  .navbar.navbar-inverse.navbar-fixed-top {
    border-top: 6px solid $orange;
    border-bottom: none;
    height: 76px;
    color: $smokey !important;
  }

  #masthead {
    .container-fluid {
      display: flex;
      justify-content: space-between;
      height: inherit;
      max-width: 100%;
      padding: 0 29px;
    }

    .utk-logo-flex {
      flex-grow: 1;
    }

    .utk-logo-wrapper {
      z-index: 998;
      padding: 0;
      width: auto;
      height: 100%;
      position: absolute;
    }

    #logo {
      margin: 0;
      padding: 0;
      height: 100%;

      img {
        height: 47px;
        margin: 0;
        align-self: center;
      }
    }

    #library-link {
      position: absolute;
      display: block;
      height: 100%;
      line-height: 76px;
      font-size: 28px !important;
      font-weight: 700;
      padding: 0px 29px;
      left: 100%;
      color: $smokey !important;
      letter-spacing: -0.03em;
      text-decoration: none;
    }
  }

  .image-masthead {
    width: 100%;
    height: 61.8vw;
    min-height: 500px;
    max-height: calc(90vh - 82px);
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: #58595b;
    margin: 0 !important;

    .navbar,
    .controls,
    .container-fluid,
    .row {
      height: inherit;
    }

    .utk-digital-search-container {
      position: absolute;
      bottom: 76px;
      height: $golden-ratio-6;
      width: inherit;
      background-color: $globe;
      opacity: 65%;
      z-index: 1;
      padding: 0 47px;

      .utk-digital-search-heading {
        display: flex;
        flex-direction: column;
        position: absolute;
        bottom: 40px;
        padding-left: 15px;
        color: $white;

        .utk-heading-1 {
          font-size: $type-6;
          font-family: "Gotham";
          font-weight: 700;
          line-height: normal;
          display: block;
        }

        .utk-description {
          font-size: 18px;
          color: $white;
          font-family: "Gotham";
          font-weight: 400;
          line-height: 1.5;
          display: block;
        }
      }
    }

    .image-masthead-container {
      position: absolute;
      align-self: flex-end;
      width: inherit;
      height: $golden-ratio-5;
      padding: 0 47px;
      margin-right: auto;
      margin-left: auto;
      background-color: $globe;

      .controls .navbar {
        border: none;
        height: inherit;
        background-color: $globe !important;
        align-self: center;
      }
    }

    #search-form-header {
      margin: 0;
      .form-group,
      .input-group,
      .input-group-btn .btn {
        height: $golden-ratio-4;
      }
      .input-group-btn .btn {
        background: none;
        background-color: $white;
        min-width: 76px;
        padding: 0;
        border: none;
        color: $smokey;
        font-size: $type-2;
        font-weight: 700;
        padding: 0 $golden-ratio-2;
        border-radius: $golden-ratio-2;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }
      .input-group-btn .dropdown-toggle {
        border-radius: 0;
        position: relative;
        z-index: 3;
        padding: 0 !important;
        min-height: auto;
        border: none;
        border-left: 2px solid #f6f6f6;
        border-right: 2px solid #f6f6f6;
        min-width: 76px;
        font-weight: 400;
        .fa {
          font-weight: 400;
          color: $rock;
          padding-left: $golden-ratio-0;
        }
      }
    }

    #search-submit-header {
      .glyphicon-search {
        padding-right: $golden-ratio-0;
      }
    }

    #search-field-header {
      height: inherit;
      border: none;
      border-radius: $golden-ratio-2;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: $smokeyx;
      font-size: $type-2;
      font-weight: 400;
      padding-left: $golden-ratio-3;
    }

    .search-form .form-group {
      display: flex;
      flex-direction: column;
    }

    .row {
      display: flex;
      align-items: center;
    }

    .navbar .navbar-nav li,
    .navbar .navbar-nav li:hover,
    .navbar .navbar-nav li:focus,
    .navbar .navbar-nav a:hover,
    .navbar .navbar-nav a:focus {
      background-color: transparent !important;
      color: $white;
    }

    .navbar .navbar-nav a {
      font-size: $type-3;
      font-weight: 400;
      text-transform: none;
    }

    .navbar .navbar-nav a:hover,
    .navbar .navbar-nav a:focus {
      color: $rock !important;
      font-weight: 500;
    }

    .navbar .navbar-nav > .active > a {
      background-color: transparent !important;
      color: $white !important;
      font-weight: 500;
    }
  }

  // DROPDOWN NAVBAR
  .navbar-inverse .navbar-link {
    color: $smokey !important;
  }

  .navbar-inverse .navbar-link:hover {
    color: $gray-3 !important;
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-brand {
    color: $smokey !important;
    font-size: $type-3 !important;
  }

  .navbar-inverse .navbar-nav .fa {
    color: $rock !important;
    font-size: $type-3 !important;
    margin: 0 0.2rem;
  }

  .navbar-inverse .navbar-nav > .active > a {
    background-color: $gray-0 !important;
    color: $gray-3 !important;
    border-radius: 5px;
  }

  .navbar-inverse .navbar-nav > li > a:hover,
  .navbar-inverse .navbar-brand:hover {
    color: $gray-3 !important;
  }

  .navbar-inverse .navbar-text {
    color: $smokey !important;
    font-weight: 600;
  }

  li.nav-item.dropdown:focus,
  a.nav-link.dropdown-toggle,
  ul#user_utility_links {
    outline: $smokey !important;
  }

  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $smokey !important;
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-text,
  .navbar-inverse .navbar-brand {
    color: $gray-3;
  }

  .header-actions {
    display: flex !important;
    flex-direction: row;
    width: auto;
    height: 70px;
    align-items: center;
    flex-shrink: 1;
  }

  #user_utility_links {
    display: flex;

    li.dropdown.header-actions-item {
      flex-grow: 0;
      flex-shrink: 1;
      display: block;
      width: auto;
      height: auto;
      margin: auto;
      font-weight: 400;
      line-height: 1rem;
      font-size: 0.8333rem;
    }

    li.dropdown.header-actions-item > a {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0 calc(29px / 2);
      margin-top: 2px;
    }

    li:nth-child(4) > a > em,
    #utk-lib-menu > em {
      font-style: normal;
    }

    li.nav-item.dropdown > a > b {
      align-self: center;
      color: $rock !important;
    }

    .nav-item .dropdown > .open > a,
    .nav-item .dropdown > .open > a:hover,
    .nav-item .dropdown > .open > a:focus {
      background-color: $smokeyx !important;
      color: $gray-1;
    }

    a#utk-lib-menu {
      display: block;
    }
  }

  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $smokey !important;
  }

  // RESPONSIVE STYLES

  @media (min-width: 1200px) {
    #masthead {
      .container-fluid,
      .image-masthead-container,
      .utk-digital-search-heading {
        max-width: 1280px;
      }
    }
  }

  // @media (min-width: 992px) {
  // }

  @media (min-width: 768px) and (max-width: 991px) {
    #masthead {
      .container-fluid {
        padding: 0 29px !important;
        max-width: 100%;
      }

      a#library-link.navbar-library-link {
        font-size: 28.7px !important;
        padding: 0px 11px !important;
      }
    }
  }

  @media (max-width: 767px) {
    #masthead {
      .container-fluid {
        padding: 0 18px !important;
      }

      .navbar-header {
        float: none;
        margin-left: 0px;
      }

      #library-link {
        padding: 0 11px !important;
        font-size: 22.5px !important;
      }

      a#utk-lib-menu {
        padding-right: 0;
      }

      #logo {
        img {
          height: 29.85px !important;
        }
      }
    }
  }

  @media (max-width: 575px) {
    #masthead {
      .container-fluid {
        padding: 0 15px !important;
      }
    }
  }
}
