@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$primary-font-family: "Lato", Helvetica, sans-serif;

$jumbotron-heading-font-size: 2.5em;
$jumbotron-heading-color: #30373b;
$jumbotron-sub-heading-color: #444;
$jumbotron-button-background-color: #7ab55c;

$features-section-background-color: #f4f4f4;
$features-section-border-color: #ddd;
