@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

$brand-primary: #629dd1 !default;
$jumbotron-heading-font-size: 2.5em;
$jumbotron-heading-color: #fff;
$jumbotron-color: #d8d8d8;
