<% # April's note: overriding Hyrax 2.9 for client theming -- removed all hyrax theming %>
<% if display_content_block? @home_text %>
  <% presenter = featured.presenter %>
  <div class="featured-works-4-column-layout col-xs-6 col-md-3" data-id="<%= presenter.id %>">
    <%= render 'themes/cultural_repository/hyrax/homepage/featured_fields', featured: presenter %>
  </div>
  <% else %>
    <% presenter = featured.presenter %>
    <div class="featured-works-6-column-layout col-xs-6 col-md-2" data-id="<%= presenter.id %>">
      <%= render 'themes/cultural_repository/hyrax/homepage/featured_fields', featured: presenter %>
    </div>
  <% end %>
