<% if display_content_block? @marketing_text %>
  <div class="home_marketing_text">
    <%= displayable_content_block @marketing_text, class: 'col-sm-12 mt-reverse-mb home_marketing_text' %>
  </div>
<% end %>