<%# OVERRIDE: Hyrax v3.4.2 - Remove td for permission badge and actions render for custom client theming of dc_repository & trace theme %>

<tr class="<%= dom_class(member) %> attributes">
  <td class="thumbnail">
    <%= render_thumbnail_tag member, { alt: "file details" } %>
  </td>
  <td class="attribute attribute-filename ensure-wrapped"><%= link_to(member.link_name, contextual_path(member, @presenter)) %></td>
  <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
  <%# OVERRIDE: Hyrax v3.4.2 - Remove td for permission badge and actions render %>
</tr>