.cultural_repository {
  ////// Navbar //////

  .clear-right {
    clear: right !important;
  }

  .vertical-center-image img {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  body.dashboard {
    padding-top: 100px !important;

    @media (max-width: $screen-md-min) {
      padding-top: 0 !important;
    }

  }

  div.form-group > label.control-label.col-sm-4 {
    color: #dcdcdc;
    font-weight: 400 !important;
  }

  // Note: copied over to override /* line 555, /usr/local/rvm/gems/ruby-2.5.3/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_navbar.scss */
  .navbar-inverse .navbar-nav > .active > a,
  .navbar-inverse .navbar-nav > .active > a:hover,
  .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: transparent !important;
  }

  // Note: copied over to override /* line 5, /home/app/webapp/app/assets/stylesheets/hyku.scss */

  #masthead #logo img {
    max-height: 100px !important;
  }

  $navbar-height: 100px !important;

  ////// End Navbar //////

  div#featured_works > div.featured-works-4-column-layout:nth-child(1n+5) {
    display: none !important;
  }

  .featured-works-container,
  .recent-works-container,
  .collections-container {
    a {
      img {
        display: block;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
      }
    }
  }

  .form-control,
  .btn,
  nav.breadcrumb,
  .alert {
    border-radius: 0;
  }

  #search-field-header {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  .mt-20 {
    margin-top: 20px;
  }

  .mt-40 {
    margin-top: 40px;
  }

  .mb-40 {
    margin-bottom: 40px;
  }

  .pt-30 {
    padding-top: 30px;
  }

  .pb-30 {
    padding-bottom: 30px;
  }

  .p-20 {
    padding: 20px;
  }

  .mt-reverse-mb {
    margin-top: 40px;
  }

  .mb-40-0 {
    margin-bottom: 40px;
  }

  .image-masthead .background-container {
    -webkit-filter: none;
    filter: none;
  }

  .featured-item-title,
  .collection-item-title,
  .recent-doc-title {
    text-align: center;

    h3 {
      cursor: default;
      font-size: 14px !important;
      pointer-events: none;
      text-decoration: none;

      a {
        color: #000000;
      }
    }
  }

  a.cr_terms {
    color: #215480;
    font-size: 12px !important;
    font-weight: bold;

    &:hover {
      color: #333333;
    }
  }

  ////// Homepage Text Block //////
  div.home_page_text.homepage-text-container {
    background-color: #fff;
    border: 1px solid #ddd;
    height: 343px;
    margin-top: -150px;
    overflow: hidden;
  }

  .fill-height-flex {
    display: flex;
    flex-direction: column;

    div {
      flex: 1;
    }
  }

  ////// Facets //////
  .facet-panel-background-color {
    background-color: #ffffff;

    @media (max-width: $screen-md-min) {
      background-color: transparent;
    }

  }

  .facets-toggle {
    border-color: transparent !important;
  }

  // Note: copied over to override /* line 226, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_panels.scss
  .panel-group {
    .panel {
      border-radius: 0 !important;
      margin-bottom: 0 !important;
    }

    .panel + .panel {
      margin-top: 0 !important;
    }
  }

  // Note: copied over to override * line 254, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_panels.scss */
  .panel-default {
    border-color: transparent !important;

    .panel-heading {
      background-color: #ffffff !important;
      border-color: #ddd  !important;
    }
  }

  // Note: copied over to override /* line 7, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_panels.scss */
  .panel {
    background-color: #fff !important;
    border-bottom: 1px solid transparent !important;
    border-left: 1px solid transparent !important;
    border-radius: 0 !important;
    border-right: 1px solid transparent !important;
    border-top: 1px solid #ddd !important;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0) !important;
    margin-bottom: 0 !important;
  }

  // Note: copied over to override /* line 22, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_panels.scss */
  .panel-heading {
    border-bottom: 0 !important;
    padding: 10px 15px !important;
  }

  // Note: copied over to override /* line 238, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_panels.scss */
  .panel-group .panel-heading + .panel-collapse > .panel-body,
  .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0 !important;
  }

  // Note: copied over to override /* line 1, /usr/local/rvm/gems/ruby-2.5.3/gems/hyrax-2.9.0/app/assets/stylesheets/hyrax/_file-listing.scss */
  div.facets h3 {
    font-size: 1em !important;
  }

  // Note: copied over to override /* line 52, /usr/local/bundle/gems/bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/_scaffolding.scss */
  a:hover,
  a:focus {
    text-decoration: none !important;
  }

  #sortAndPerPage {
    margin-top: 15px;
  }

  ////// Media Queries //////

  @media (min-width: $screen-xs-min) and (max-width: $screen-md-max) {
    .mt-reverse-mb {
      margin-bottom: 40px;
      margin-top: 0;
    }
  }

  @media (max-width: $screen-sm-max) {
    div.home_page_text.homepage-text-container {
      height: 0;
      margin-bottom: 30px;
      margin-top: 30px;
    }
  }

  @media screen and (max-width: $screen-md-min) {
    div.recently-uploaded:nth-of-type(2n+3),
    div.featured-works-6-column-layout:nth-of-type(2n+3),
    div.featured-works-4-column-layout:nth-of-type(2n+3) {
      clear: left;
    }

    .mb-40-0 {
      margin-bottom: 0;
    }

    body.dashboard {
      padding-top: 0 !important;
    }

    .facet-panel-background-color {
      background-color: transparent;
    }
  }

  @media (max-width: 768px) {
    // Note: copied over to override /* line 163, /usr/local/bundle/gems/blacklight-6.23.0/app/assets/stylesheets/blacklight/_facets.scss */
    #facets .top-panel-heading {
      border: 1px solid #999999 !important;
    }
  }
}
