.cultural_show {
  dl.work-show dd {
    border-bottom: 1px solid #ddd;
    .tabular {
      border-bottom: none;
    }
  }
  dl.work-show {
    font-weight: 700;
    .tabular {
      border-bottom: 1px solid #ddd;
      font-size: 18px;
      font-weight: 400;
    }
  }

  .relationships-box {
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    ul.tabular > li > a {
      word-break: break-word;
    }
  }

  li.attribute,
  td.attribute {
    font-size: 18px;
  }
  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffffff;
  }
  tr.file_set.attributes td {
    padding-top: 18px;
  }
  .representative-media {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .centered-media img.representative-media {
    margin-right: auto;
    margin-left: auto;
  }

  @media (max-width: 575px) {
    .col-sm-12.work-show-items table.table-striped.related-files {
      overflow-x: scroll;
      display: block;
      width: 100vw;
      height: auto;
    }
  }
}

.work-show ul.tabular li {
  word-wrap: break-word;
}

.navbar.navbar-default.navbar-static-top .container-fluid .row {
  margin-left: 0px;
  margin-right: 0px;
}
