body.dc_repository {
  background-color: $white;
  font-size: $type-3;
  color: $smokey !important;
  line-height: 35px;
  height: 100vh;

  /**** General Text Styles ****/
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: "Gotham" !important;
    color: $smokey !important;
  }

  h1 {
    font-weight: 500;
  }

  h2 {
    font-weight: 500;
  }

  h4 {
    font-weight: 300;
  }

  h6 {
    font-family: "Gotham" !important;
    text-transform: uppercase;
    color: $smokeyx !important;
    letter-spacing: 1pt;
  }

  a:focus,
  a:hover {
    text-decoration-line: none;
  }

  p {
    color: $smokeyx;
    font-size: $type-3;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  /**** End General Text Styles ****/

  .btn {
    &.btn-primary,
    &.btn-danger {
      color: $white;
    }

    &.btn-primary {
      background-color: $globe;
    }
  }

  #sort-dropdown .dropdown-toggle,
  #per_page-dropdown .dropdown-toggle {
    color: $smokey !important;
  }

  /**** Main Nav ****/
  .navbar.navbar-inverse.navbar-fixed-top {
    border-top: $golden-ratio-0 solid $orange;
    border-bottom: none;
    height: $golden-ratio-5;
    color: $smokey !important;
  }

  /**** Header Section ****/
  #masthead {
    .container-fluid {
      display: flex;
      justify-content: space-between;
      height: inherit;
      max-width: 100%;
      padding: 0 $golden-ratio-3;
    }

    .utk-logo-flex {
      flex-grow: 1;
      justify-content: center;
      align-items: center;
    }

    .utk-logo-wrapper {
      z-index: 998;
      padding: 0;
      width: auto;
      height: 100%;
    }

    #logo {
      margin: 0;
      padding: 0;
      height: 100%;

      img {
        height: $golden-ratio-4;
        margin: 0;
        align-self: center;
      }
    }

    #library-link {
      height: 100%;
      line-height: $golden-ratio-5;
      font-size: $type-5 !important;
      font-weight: 700;
      padding: 0 $golden-ratio-3;
      left: 100%;
      color: $smokey !important;
      letter-spacing: -0.03em;
      text-decoration: none;
    }
  }
  /**** End Hero Section ****/

  /**** Dropdown Navbar ****/
  .navbar-inverse .navbar-link {
    color: $smokey !important;
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-brand {
    color: $smokey !important;
    font-size: $type-3 !important;
  }

  .navbar-inverse .navbar-nav .fa {
    color: $rock !important;
    font-size: $type-3 !important;
    margin: 0 0.2rem;
  }

  .navbar-inverse .navbar-text {
    color: $smokey !important;
    font-weight: 600;
  }

  li.nav-item.dropdown:focus,
  a.nav-link.dropdown-toggle,
  ul#user_utility_links {
    outline: $smokey !important;
  }

  .navbar-inverse .navbar-nav > .open > a,
  .navbar-inverse .navbar-nav > .open > a:hover,
  .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: $white !important;
  }

  .navbar-inverse .navbar-nav > li > a,
  .navbar-inverse .navbar-text,
  .navbar-inverse .navbar-brand {
    color: $gray-3;
  }

  .header-actions {
    display: flex !important;
    flex-direction: row;
    width: auto;
    height: 70px;
    align-items: center;
    flex-shrink: 1;
  }

  #user_utility_links {
    display: flex;
    // TODO Save for header ticket - double check these styles
    li.dropdown.header-actions-item {
      flex-grow: 0;
      flex-shrink: 1;
      display: block;
      width: auto;
      height: auto;
      margin: auto;
      font-weight: 400;
      line-height: 1rem;
      font-size: 0.8333rem;
    }

    li.dropdown.header-actions-item > a {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0 calc(29px / 2);
      margin-top: 2px;
    }

    li:nth-child(4) > a > em,
    #utk-lib-menu > em {
      font-style: normal;
    }

    li.nav-item.dropdown > a > b {
      align-self: center;
      color: $rock !important;
    }
    // TODO Save for header ticket - Menu not being used. display: none
    a#utk-lib-menu {
      display: block;
    }
  }
  /**** End Dropdown Navbar ****/
  /**** End Header Section ****/

  /**** Homepage Hero Section ****/
  .image-masthead {
    width: 100%;
    height: 61.8vw;
    min-height: 500px;
    max-height: calc(90vh - 82px);
    position: relative;
    margin: 0;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;

    .navbar,
    .controls,
    .container-fluid,
    .row {
      height: inherit;
    }

    .background-container {
      height: 90%;
      z-index: 0;
      align-self: flex-end;
    }

    .circle-container {
      justify-content: center;
      align-self: center;
      margin-left: auto;
      padding-right: $golden-ratio-2;
      z-index: 100;

      .circle {
        background: $valley;
        border-radius: 50%;
        align-items: center;
        text-align: center;
        justify-content: center;
        width: 17vw;
        height: 17vw;
        box-shadow: $box-shadow-float;

        &::after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        .circle-text {
          color: $white;
          font-size: $type-3;
          font-size: 1.75vw;
          font-family: "Gotham";
          font-weight: 500;
          padding: 1.5em;
        }
      }
    }

    .utk-digital-elements-wrapper {
      height: $golden-ratio-6;
      width: inherit;
      background-color: rgba(0, 108, 148, 0.65);
      z-index: 10;

      .container-fluid {
        padding-right: 0;
        padding-left: 0;

        .row {
          padding: 0 50px;
        }
      }

      .utk-digital-search-container {
        align-items: center;
        padding-right: 50px;
      }

      .utk-digital-search-heading {
        flex-direction: column;
        padding-left: 25px;
        color: $white;

        .utk-heading-1 {
          font-size: $type-6;
          font-family: "Gotham";
          font-weight: 700;
          line-height: normal;
          display: block;
        }

        .utk-description {
          font-size: $type-3;
          color: $white;
          font-family: "Gotham";
          font-weight: 400;
          line-height: 1.5;
          display: block;
        }
      }
    }

    .controls-container {
      height: $golden-ratio-5;
      background-color: $globe;

      .container-fluid {
        padding-right: 0;
        padding-left: 0;
      }

      .controls .navbar {
        border: none;
        height: inherit;
        background-color: $globe !important;
        align-self: center;
      }
    }

    #search-form-header {
      margin: 0;
      .form-group,
      .input-group,
      .input-group-btn .btn {
        height: $golden-ratio-4;
      }

      .input-group-btn .btn {
        background: none;
        background-color: $white;
        min-width: $golden-ratio-5;
        padding: 0;
        border: none;
        color: $smokey;
        font-size: $type-2;
        font-weight: 700;
        padding: 0 $golden-ratio-2;
        border-radius: $golden-ratio-2;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
      }

      .input-group-btn .dropdown-toggle {
        border-radius: 0 !important;
        position: relative;
        z-index: 3;
        padding: 0 !important;
        min-height: auto;
        border: none;
        border-left: 2px solid $gray-0;
        border-right: 2px solid $gray-0;
        min-width: $golden-ratio-5;
        font-weight: 400;

        .fa {
          font-weight: 400;
          color: $rock;
          padding-left: $golden-ratio-0;
        }
      }

      .btn:active,
      .btn:focus {
        outline: none;
      }

      .dropdown-menu > li > a {
        color: $smokey;
        padding: $golden-ratio-1 $golden-ratio-2;
      }

      .dropdown-menu > li > a:hover {
        color: $globe;
      }
    }

    #search-submit-header {
      .glyphicon-search {
        padding-right: $golden-ratio-0;
      }
    }

    #search-field-header {
      height: inherit;
      border: none;
      border-radius: $golden-ratio-2;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      color: $smokeyx;
      font-size: $type-2;
      font-weight: 400;
      padding-left: $golden-ratio-3;
    }

    .search-form .form-group {
      display: flex;
      flex-direction: column;
    }

    .row {
      display: flex;
      align-items: center;
      padding: 0 $golden-ratio-4;
    }

    .navbar .navbar-nav li,
    .navbar .navbar-nav li:hover,
    .navbar .navbar-nav li:focus,
    .navbar .navbar-nav a:hover,
    .navbar .navbar-nav a:focus {
      background-color: transparent !important;
      color: $white;
    }

    .navbar .navbar-nav a,
    .navbar .navbar-nav a:hover,
    .navbar .navbar-nav a:focus {
      font-size: $type-3;
      font-weight: 400;
      text-transform: none;
      color: $white;
    }

    .navbar .navbar-nav > .active > a {
      background-color: transparent !important;
      color: $white !important;
      font-weight: 400;
    }
  }
  /**** End Homepage Hero Section ****/

  /**** Subpage Hero Section ****/
  .title-masthead {
    width: 100%;
    height: 275px !important;
    min-height: 275px !important;
    margin-bottom: $golden-ratio-3;

    .utk-digital-elements-wrapper {
      background-color: rgba(0, 108, 148, 0.95);
    }
  }
  /**** End Subpage Hero Section ****/

  /**** Featured Collections Grid ****/
  #featured-collections {
    .featured-collections {
      padding-top: $golden-ratio-4;

      h2 {
        padding-left: $golden-ratio-2;
      }

      .container {
        width: 100%;
        padding-right: $golden-ratio-3;
        padding-left: $golden-ratio-3;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $golden-ratio-4;
      }

      .collections-container {
        a {
          img {
            display: block;
            height: auto;
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
          }
        }
      }

      .collections-row {
        padding-top: 40px;
      }

      .collection-card-container {
        flex-direction: column;
        height: 500px;
        margin-bottom: $golden-ratio-4;

        .collection-card {
          background-color: $white;
          margin-right: 0px;
          margin-bottom: 20px;
          flex-direction: column;
          flex-grow: 1;
          text-align: center;
        }
      }

      .collection-label {
        padding: 15px !important;
        align-self: center;
        line-height: 1.29em;
        letter-spacing: -0.029em;
        font-size: $type-4;

        a,
        a:visited {
          color: $globe;
        }

        a:hover,
        a:focus {
          color: $leconte;
        }
      }

      .collection-thumbnail img {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
        &[src*="default_collection_images"],
        &[src^="/assets/collection"] {
          object-fit: contain;
        }
      }
    }
  }
  /**** End Featured Collections Grid ****/

  /**** Browse Collections ****/
  #browse-collections {
    .browse-collections {
      padding-top: 0 !important;

      h2 {
        padding-left: $golden-ratio-2;
      }

      .container {
        width: 100%;
        padding-right: $golden-ratio-3;
        padding-left: $golden-ratio-3;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: $golden-ratio-4;

        .collections-container {
          a {
            img {
              display: block;
              height: auto;
              margin-left: auto;
              margin-right: auto;
              max-width: 100%;
            }
          }
        }

        .collections-row {
          padding-top: 40px;
        }
      }

      // Header Section
      header {
        justify-content: space-between;
        margin-top: $golden-ratio-3;
        margin-bottom: $golden-ratio-3;

        button {
          background-color: $white;
          color: $globe;
          height: $golden-ratio-4;
          padding: 0 $golden-ratio-2;
          border-radius: $golden-ratio-4;
          border: 1px solid $gray-2;
          font-size: $type-1;
          margin-left: 0;
          cursor: pointer;
          outline: none;
          font-weight: 700;
          display: inline-flex;
          align-items: center;
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
        }

        button:active,
        button:focus {
          background-color: $globe;
          color: $white;
        }

        button i {
          margin-right: $golden-ratio-0;
          opacity: 0.47;
          display: block;
        }

        button:first-child:active,
        button:first-child:focus {
          background-color: $white;
          color: $globe;
        }

        .browse-collections--view {
          .nav {
            margin: 0;
          }
          .nav-tabs {
            border: none;

            li {
              margin: 0;

              a {
                margin: 0;
                border: none;
                border-radius: $golden-ratio-4;
                padding: 0;
              }
            }

            li.active {
              .button-toggle {
                background-color: $globe;
                color: $white;
              }
            }

            li:last-child {
              padding-left: $golden-ratio-2;
            }
          }
        }

        .tab-content {
          margin-top: $golden-ratio-3;
        }

        .browse-collections--toggles {
          // Styles for hidden 'Group' button in case it's used in the future
          // .button-toggle:last-of-type {
          //   border-top-right-radius: 0;
          //   border-bottom-right-radius: 0;
          //   border: none;
          //   background-color: #00597a;
          //   color: $white;
          //   box-shadow: 0 2px 5px rgba(51, 51, 51, 0.15) !important;
          //   cursor: default !important;
          //   font-weight: 400;
          // }

          .browse-collections--search,
          .browse-collections--search:active {
            background-color: $globe;

            a {
              color: $white;
            }
          }

          .browse-collections--search:hover {
            background-color: $white;

            a {
              color: $smokey;
            }
          }
        }
      }

      .collections-row {
        padding-top: 0 !important;
      }

      // Browse Collections List/Grid Views
      .tab-content {
        .tab-pane {
          // Browse Collections Section Scroll
          .scroll {
            height: 1000px;
            overflow-x: hidden;
            overflow-y: auto;
          }

          // List view
          .view-type-list {
            .collection-card-container {
              min-height: 293px;
              margin-bottom: $golden-ratio-4;
              flex-flow: wrap;
              width: calc(100% + 47px);
              padding: 0;

              .collection-card {
                background-color: $gray-1 !important;
                padding: 0;
                flex-direction: row;
                width: calc(100% - 47px);
                flex-basis: calc(100% - 47px);
                min-height: 293px;
                justify-content: start;
                align-items: center;

                .collection-content {
                  flex-direction: column;
                  padding: $golden-ratio-4;
                  flex-grow: 1;

                  .collection-label {
                    padding: 0 15px 15px 15px !important;
                    align-self: start;
                    line-height: 1.29em;
                    letter-spacing: -0.029em;
                    font-weight: 700;

                    a,
                    a:visited {
                      color: $smokey;
                    }

                    a:hover,
                    a:focus {
                      color: $globe;
                    }
                  }

                  .collection-abstract {
                    color: $smokey;
                    font-size: $type-2;
                    padding: 0 15px;
                    text-align: justify;
                    line-height: 1.29em;
                    letter-spacing: -0.029em;

                    a,
                    a:visited {
                      color: $smokey;
                    }

                    a:hover,
                    a:focus {
                      color: $smokey;
                    }
                  }

                  .works-count {
                    color: $smokey;
                    font-size: $type-2;
                    padding: $golden-ratio-2 15px 0 !important;
                    line-height: 1.29em;
                    letter-spacing: -0.029em;

                    span {
                      font-weight: 700;
                    }

                    p {
                      margin-block-start: 0;
                      margin-block-end: 0;
                    }
                  }
                }

                .collection-thumbnail {
                  margin-left: 70px;

                  img {
                    width: 322px;
                    height: 199px;
                    object-fit: cover;
                    object-position: center;
                    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
                    &[src*="default_collection_images"],
                    &[src^="/assets/collection"] {
                      object-fit: contain;
                      background-color: $white;
                    }
                  }
                }
              }
            }
          }
          // Grid View
          .view-type-grid {
            .collection-card-container {
              flex-direction: column;
              height: 500px;
              margin-bottom: $golden-ratio-4;

              .collection-card {
                background-color: $white;
                margin-right: 0px;
                margin-bottom: 20px;
                flex-direction: column;
                flex-grow: 1;
                text-align: center;

                .collection-content {
                  justify-content: center;

                  .collection-label {
                    padding: 15px !important;
                    align-self: center;
                    line-height: 1.29em;
                    letter-spacing: -0.029em;

                    a,
                    a:visited {
                      color: $globe;
                    }

                    a:hover,
                    a:focus {
                      color: $leconte;
                    }
                  }

                  .collection-abstract,
                  .works-count {
                    display: none;
                  }
                }

                .collection-thumbnail img {
                  width: 100%;
                  height: 400px;
                  object-fit: cover;
                  object-position: center;
                  &[src*="default_collection_images"],
                  &[src^="/assets/collection"] {
                    object-fit: contain;
                  }
                }
              }

              .collection-label {
                padding: 15px !important;
                align-self: center;
                line-height: 1.29em;
                letter-spacing: -0.029em;

                a,
                a:visited {
                  color: $globe;
                }

                a:hover,
                a:focus {
                  color: $leconte;
                }
              }

              .collection-thumbnail img {
                width: 100%;
                height: 400px;
                object-fit: cover;
                object-position: center;
                &[src*="default_collection_images"],
                &[src^="/assets/collection"] {
                  object-fit: contain;
                }
              }
            }
          }
        }
      }
    }
  }
  /**** End Browse Collections ****/

  /**** Search Results Content Section ****/
  #content-wrapper.search-container {
    margin-bottom: $golden-ratio-4;
  }
  #content {
    a#startOverLink {
      border: 2px solid $gray-1;
      border-radius: 4px;
      color: $smokey;
    }

    #sortAndPerPage {
      border-bottom: none;

      .page_links {
        font-size: $type-3;
      }
    }

    #documents {
      .document {
        .thumbnail {
          margin-bottom: 0;

          .document-title-heading {
            font-size: $type-3;
          }
        }
      }
    }

    #search-results {
      .search-results-title-row {
        padding-right: $golden-ratio-2;

        .work {
          display: none;
        }

        .search-result-title {
          font-size: $type-4;
          color: $globe;
          font-weight: 500;
        }

        .label {
          font-size: $type-0;
          background-color: $orange !important;
        }
      }

      .search-results-page-metadata {
        .search-result-title {
          font-size: $type-4;
          font-weight: 500;

          a:hover,
          a:focus {
            color: $leconte;
          }
        }

        .abstract-search-results {
          p {
            padding-right: $golden-ratio-2;
            text-align: justify;
            font-size: $type-3;
            line-height: $type-4;
          }
        }

        .collection-member {
          padding: 0;
          margin-bottom: $golden-ratio-2;

          p {
            font-size: $type-3;

            a:visited {
              color: $globe;
            }

            a:hover,
            a:focus {
              color: $leconte;
            }
          }
        }
      }

      .collection-counts-wrapper {
        margin-bottom: $golden-ratio-2;
      }
    }

    .search-widgets {
      .view-type {
        .view-type-group {
          box-shadow: none;

          .view-type-gallery {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
          .view-type-masonry,
          .view-type-slideshow {
            display: none;
          }
        }
      }
    }

    ul.pagination {
      font-size: $type-3;
    }
  }
  /**** End Search Results Content Section ****/

  /**** Facet Panel ****/
  #facets {
    .top-panel-heading {
      display: none;
    }

    .panel-group {
      background-color: $gray-1;

      .panel-default {
        border: none;
        background-color: transparent;

        .panel-heading {
          background-color: transparent;
          border: none;
          color: $smokeyx;

          h3 {
            font-size: $type-3;
            a {
              color: $smokey !important;
            }
          }

          .panel-title:after {
            color: $smokey;
            font-size: $type-2;
          }
        }

        .panel-collapse {
          border: none;

          .panel-body {
            border: none;
            background-color: transparent;

            .facet-values {
              li .selected,
              li .more_facets_link {
                color: $globe;
                font-size: $type-3;
              }

              .remove .glyphicon {
                top: 0;
              }

              .facet-label {
                a,
                a:visited {
                  color: $globe !important;
                  font-size: $type-3;
                }
                a:hover {
                  color: $leconte !important;
                }
                .selected {
                  color: $orange;
                }
                a.remove {
                  color: $smokey !important;
                  font-size: $type-2;
                }
              }

              .facet-count,
              .facet-count .selected {
                font-size: $type-3;
                color: $smokey !important;
              }
            }
          }
        }
      }

      .panel {
        border-radius: 0;
      }
    }
  }
  /**** End Facet Panel ****/

  /**** Footers ****/
  #utk-lib-footer {
    // Library footer
    .footer-libraries {
      padding: $golden-ratio-4 0;
      background-color: $white;
      color: $smokeyx;
      border-top: $golden-ratio-0 solid $orange;

      .container {
        width: 100%;
        padding-right: $golden-ratio-4;
        padding-left: $golden-ratio-4;
        margin-right: auto;
        margin-left: auto;

        .footer-libraries--inner {
          justify-content: space-between;

          .footer-libraries--anchor {
            width: calc(100% - (100% / 1.61803));
            flex-direction: column;

            .footer-libraries--identity {
              width: auto;

              p {
                font-size: $type-3;
                line-height: 25px;
                font-weight: 400;
              }

              a,
              a:visited {
                color: $smokey !important;
              }

              .footer-libraries--identity--brand {
                .footer-libraries--identity--brand--unit {
                  display: block;
                  font-size: $type-4;
                  font-weight: 700;
                }
              }
            }

            .footer-libraries--menu-extras {
              .utk-resources-menu--submenu {
                padding: 0;
                margin: 0;

                li {
                  padding: 0;
                  margin: 0;
                  list-style: none;
                  line-height: 35px;
                }

                a,
                a:visited {
                  font-size: $type-3;
                  color: $globe;
                }

                a:hover,
                a:focus {
                  color: $leconte;
                }
              }
            }
          }

          .footer-libraries--menu {
            flex-grow: 1;
            justify-content: space-between;

            .utk-resources-menu--section {
              margin-top: 0 !important;
            }

            .utk-resources-menu--col {
              flex-direction: column;
              flex-grow: 1;
              font-size: $type-3;
              margin-right: $golden-ratio-4;

              .utk-resources-menu--col a,
              .utk-resources-menu--col a:visited,
              .utk-resources-menu--col a:focus,
              .utk-resources-menu--col a:hover {
                color: $smokeyx;
                white-space: nowrap;
              }
              .utk-resources-menu--col:last-child {
                margin-right: 0;
              }

              .utk-resources-menu--section {
                margin-top: $golden-ratio-3;
                margin-bottom: $golden-ratio-1;
                width: 100%;

                .utk-resources-menu--section:last-child {
                  margin-bottom: 0;
                }

                h2.utk-resources-menu--trigger {
                  margin: 0 0 $golden-ratio-0;
                  padding: 0;
                  font-weight: 700 !important;
                  font-size: $type-3 !important;
                  line-height: 35px;
                  color: $smokey !important;
                  letter-spacing: -0.018em;
                }

                a,
                a:visited {
                  color: $globe;
                  display: block;
                  font-size: $type-3;
                  line-height: 35px;
                }

                .utk-resources-menu--submenu {
                  flex-direction: column;

                  a:hover,
                  a:focus {
                    color: $leconte;
                  }
                }
              }
            }
          }
        }
      }
    }

    // University footer
    .footer-university {
      padding: $golden-ratio-4 0;
      background-color: $gray-0;

      .container {
        width: 100%;
        padding-right: $golden-ratio-4;
        padding-left: $golden-ratio-4;
        margin-right: auto;
        margin-left: auto;
      }

      .footer-university--inner {
        justify-content: space-between;

        .footer-university--anchor {
          margin-right: $golden-ratio-5;
          position: relative;
          z-index: 0;
          font-size: $type-3;
        }

        .footer-university--anchor p {
          font-size: inherit;
          line-height: 1.58em;
        }

        .footer-university--identity--brand {
          .footer-university--identity--brand--logo {
            display: block;
          }
        }

        .footer-university--title {
          display: block;
          margin-bottom: $golden-ratio-1;
        }

        a,
        a:visited {
          color: $smokey !important;
        }

        .footer-university--search {
          margin-bottom: $golden-ratio-3;

          .form-group {
            margin-bottom: 15px;
          }

          .footer-university--search--form {
            .form-group {
              flex-grow: 1;
            }

            input {
              height: $golden-ratio-4;
              font-size: $type-3;
              color: $smokeyx;
              text-indent: $golden-ratio-2;
              width: 100%;
              border: 1px solid $gray-2;
              border-right: none;

              #utk_seek .search-btn {
                display: inline-flex;
                width: auto;
                flex-shrink: 1;
                font-size: $type-2;
                background-color: $gray-1;
                line-height: 1.29em;
                padding: $golden-ratio-1 $golden-ratio-2;
                height: $golden-ratio-4;
                font-weight: 700;
              }
            }

            input[type="submit"] {
              border: none;
            }
          }
        }

        .footer-university--menu {
          flex-grow: 1;
          display: flex;
          justify-content: space-between;
        }

        .footer-university--more {
          height: fit-content;
          align-self: center;

          .footer-university--menu {
            flex-grow: 1;
            justify-content: space-between;

            .utk-resources-menu--col {
              flex-direction: column;
              flex-grow: 1;
              margin-right: $golden-ratio-4;
            }
            .utk-resources-menu--col a {
              color: $smokeyx;
              white-space: nowrap;
              font-size: $type-3;
            }
          }
        }
      }
    }
  }
  /**** End Footers ****/

  /**** Contact Page ****/
  .contact-form {
    h1 {
      margin: $golden-ratio-3 0;
    }
    form {
      flex-direction: column;

      .contact-submit-btn {
        align-self: flex-end;
      }
    }
  }
  /**** End Contact Page ****/

  /**** Responsive Styles ****/
  @media (min-width: 1200px) {
    // Header
    #masthead {
      .container-fluid {
        max-width: 1280px !important;
      }
    }

    // Featured Collections & Browse Collections
    #featured-collections,
    #browse-collections {
      .featured-collections,
      .browse-collections {
        .container {
          max-width: 1280px !important;
        }
      }
    }

    // Footers
    #utk-lib-footer {
      .footer-libraries,
      .footer-university {
        .container {
          max-width: 1280px !important;
        }
      }
    }
  }

  @media (min-width: 992px) {
    // Footers
    #utk-lib-footer {
      .footer-libraries {
        .container {
          max-width: 100%;
        }
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1200px) {
    // Hero
    .utk-digital-elements-wrapper,
    .controls-container {
      .container-fluid {
        .row {
          width: 100%;
        }
      }
    }
    .circle-container {
      margin-top: -150px;

      .circle {
        width: 240px !important;
        height: 240px !important;

        .circle-text {
          font-size: $type-4 !important;
          padding: 1.2em !important;
          line-height: 1.5;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    // Header
    #masthead {
      .container-fluid {
        padding: 0 $golden-ratio-3 !important;
        max-width: 100%;
      }

      a#library-link.navbar-library-link {
        font-size: $type-5 !important;
        padding: 0 $golden-ratio-1 !important;
      }
    }

    // Footers
    #utk-lib-footer {
      // Libraries footer
      .footer-libraries {
        .container {
          max-width: 100%;

          .footer-libraries--inner {
            flex-direction: column;
            align-items: center;
            align-content: center;

            .footer-libraries--anchor {
              width: 100% !important;
              max-width: 100%;
              flex-direction: row !important;
              padding-bottom: $golden-ratio-2;
              margin-bottom: $golden-ratio-2;

              p {
                font-size: $type-3;
              }

              .footer-libraries--identity {
                min-width: 33.333333%;
                flex-shrink: 1;
                padding-right: $golden-ratio-3;

                .footer-libraries--identity--brand--unit {
                  font-size: $type-3;
                }
              }

              .footer-libraries--menu-extras {
                flex-grow: 1;
              }
            }

            .footer-libraries--menu {
              width: 100%;
            }
          }
        }
      }

      // University footer
      .footer-university {
        .footer-university--inner {
          flex-direction: column;

          .footer-university--anchor {
            margin-right: 0;
          }

          .footer-university--more {
            align-self: auto;

            .utk-resources-menu--col {
              width: 50%;
              margin-right: 0;
              flex-grow: 0;
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1200px) {
    // Hero
    .utk-digital-elements-wrapper,
    .controls-container {
      .container-fluid {
        max-width: 1280px;

        .row {
          width: 100%;
        }
      }
    }

    .circle-container {
      margin-top: -150px;

      .circle {
        width: 255px !important;
        height: 255px !important;

        .circle-text {
          font-size: $type-4 !important;
          padding: 1.2em !important;
          line-height: 1.5;
        }
      }
    }
  }

  @media (max-width: 991px) {
    // Hero
    .utk-digital-elements-wrapper {
      height: $golden-ratio-5 !important;

      .container-fluid {
        justify-content: center;
      }

      .row {
        margin: 0;

        .utk-digital-search-container {
          padding: 0;
          text-align: center;

          .utk-digital-search-heading {
            padding: 0;

            .utk-heading-1 {
              font-size: $type-5;
            }

            .utk-description {
              font-size: $type-3;
            }
          }
        }
      }
    }

    .circle-container {
      display: none;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
    }

    .controls-container {
      height: $golden-ratio-5 !important;

      .controls {
        justify-content: center;

        .navbar-nav {
          display: none;
          margin: 0;
          padding: 0;
        }

        .row {
          justify-content: center;
        }

        .searchbar-right {
          width: 90%;
        }
      }
    }

    .title-masthead {
      height: auto !important;
      min-height: 225px !important;
      .navbar-nav {
        display: block;
      }
    }

    // Featured Collections Grid
    #featured-collections {
      .featured-collections {
        padding-top: $golden-ratio-2;

        h2 {
          font-size: $type-4;
          text-align: center;
          padding: 0;
        }
      }

      .collection-card-container {
        margin-bottom: $golden-ratio-3;
      }

      .collection-label {
        padding: 15px !important;

        a {
          font-size: $type-3;
        }
      }

      .collections-row {
        padding-top: $golden-ratio-3;
      }
    }

    // Browse Collections
    #browse-collections {
      .browse-collections {
        padding-top: $golden-ratio-2;

        h2 {
          font-size: $type-4;
          text-align: center;
          padding: 0;
        }

        .collections-row {
          padding-top: $golden-ratio-3;
        }

        .tab-content {
          .tab-pane {
            // Grid view
            .view-type-grid {
              .collection-card-container {
                margin-bottom: $golden-ratio-3;
              }

              .collection-label {
                padding: 15px !important;

                a {
                  font-size: $type-3;
                }
              }
            }

            // List view
            .view-type-list {
              .collection-card-container {
                height: auto;
                margin-bottom: $golden-ratio-3;

                .collection-card {
                  align-items: center;
                  flex-direction: column;

                  .collection-thumbnail {
                    margin-left: 0;
                    margin-top: $golden-ratio-3;
                  }

                  .collection-content {
                    margin: $golden-ratio-3 $golden-ratio-4;
                    padding: 0;
                    width: 80%;

                    .collection-label {
                      align-self: center;
                      text-align: center;
                      max-width: 70%;

                      a {
                        font-size: $type-3;
                      }
                    }

                    .collection-abstract {
                      padding: 0 $golden-ratio-4;
                    }

                    .works-count {
                      align-self: center;
                    }
                  }
                }

                .collection-thumbnail {
                  margin-top: $golden-ratio-4;
                }

                p {
                  font-size: $type-2;
                }
              }
            }
          }
        }
      }
    }

    // Search Results
    #content {
      #sortAndPerPage {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }

      #search-results {
        .search-result-wrapper {
          padding-bottom: 0;

          .search-result-title {
            font-size: $type-3;
          }
        }
      }
    }

    .list-thumbnail img {
      &[src*="default_collection_images"],
      &[src^="/assets/collection"],
      &[src^="/assets/work"] {
        max-width: 80%;
      }
    }

    // Contact Page
    .contact-form {
      .alert-info {
        font-size: $type-2;
        line-height: $type-4;
      }
      h1 {
        font-size: $type-5;
      }
      .form-group {
        .contact-label {
          padding-right: 10px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    // Search Results
    .search-container {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      #content {
        #search-results {
          #sortAndPerPage {
            margin-bottom: 0;
          }

          .search-result-wrapper {
            margin-bottom: 0;
            padding: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .search-results-title-row {
              display: flex;
              align-items: flex-start;
              padding-right: 0;

              .search-result-title {
                padding-bottom: 0;
                margin: 0;
              }
            }

            .abstract-search-results {
              p {
                padding-right: 0;
              }
            }
          }
        }
      }
    }

    // Header
    #masthead {
      .container-fluid {
        padding: 0 $golden-ratio-2 !important;
      }

      .navbar-header {
        float: none;
        margin-left: 0;
      }

      #library-link {
        padding: 0 $golden-ratio-1 !important;
        font-size: $type-4 !important;
      }

      a#utk-lib-menu {
        padding-right: 0;
      }

      #logo {
        img {
          height: 29.85px !important;
        }
      }
    }

    // Featured Collections Grid
    #featured-collections {
      .featured-collections {
        .container {
          max-width: 100%;
          padding-right: $golden-ratio-2;
          padding-left: $golden-ratio-2;
        }

        .collection-card-container {
          height: 400px;
          margin-bottom: $golden-ratio-2;

          .collection-card {
            margin-bottom: 0;
          }

          .collection-thumbnail img {
            height: 300px;
            width: 80%;
          }

          .collection-label {
            max-width: 70%;
          }
        }
      }
    }

    // Browse Collections
    #browse-collections {
      .browse-collections {
        .container {
          max-width: 100%;
          padding-right: $golden-ratio-2;
          padding-left: $golden-ratio-2;

          .tab-content {
            .tab-pane {
              // Grid view
              .view-type-grid {
                .collection-card-container {
                  height: 400px;
                  margin-bottom: $golden-ratio-2;

                  .collection-card {
                    margin-bottom: 0;
                  }

                  .collection-thumbnail img {
                    height: 300px;
                    width: 80%;
                  }

                  .collection-label {
                    max-width: 70%;
                  }
                }
              }
            }
          }

          // Browse Collections Header
          header {
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .browse-collections--view {
              margin-bottom: $golden-ratio-3;
            }
          }
        }
      }
    }

    // Footers
    // Library footer
    #utk-lib-footer {
      .footer-libraries {
        padding: $golden-ratio-3 0;

        .container {
          max-width: 100%;
          padding-right: $golden-ratio-2;
          padding-left: $golden-ratio-2;

          .footer-libraries--inner {
            flex-direction: column;
            align-items: flex-start;
            align-content: center;

            .footer-libraries--anchor {
              padding-bottom: $golden-ratio-2;
              margin-bottom: $golden-ratio-2;
              width: 100%;
              max-width: 100%;
              flex-direction: row;

              .footer-libraries--identity {
                min-width: 33.333333%;
                flex-shrink: 1;
                padding-right: $golden-ratio-3;

                p {
                  font-size: $type-2;
                }

                .footer-libraries--identity--brand {
                  .footer-libraries--identity--brand--unit {
                    font-size: $type-3;
                  }
                }
              }

              .footer-libraries--menu-extras {
                flex-grow: 1;

                .utk-resources-menu--submenu {
                  a {
                    font-size: 16px;
                  }
                }
              }
            }
          }

          .footer-libraries--menu {
            flex-direction: column;

            .utk-resources-menu--col {
              width: 100%;

              .utk-resources-menu--section {
                a {
                  width: 50%;
                }

                .utk-resources-menu--submenu {
                  flex-direction: row !important;
                  flex-wrap: wrap;

                  a,
                  a:visited {
                    font-size: 16px;
                  }

                  a:hover,
                  a:focus {
                    color: $leconte;
                  }
                }
              }
            }
          }
        }
      }

      // University footer
      .footer-university {
        padding: $golden-ratio-4 0;

        .container {
          max-width: 100%;
          padding-right: $golden-ratio-2;
          padding-left: $golden-ratio-2;
        }

        .footer-university--inner {
          flex-direction: column;

          .footer-university--anchor {
            margin-right: 0;
          }

          .footer-university--more {
            align-self: auto;

            .footer-university--menu {
              flex-wrap: wrap;

              .utk-resources-menu--col {
                width: 50%;
                margin-right: 0;
                flex-grow: 0;
                flex-direction: column;

                a,
                a:visited {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    // Header
    #masthead {
      .container-fluid {
        padding: 0 $golden-ratio-2 !important;
      }
    }

    // Featured Collections Grid
    #featured-collections {
      .featured-collections {
        .container {
          max-width: 100%;
          margin-bottom: $golden-ratio-2;
        }

        .collection-label {
          padding-top: 15px !important;
          margin-left: auto;
          margin-right: auto;
        }

        .collection-card-container {
          margin-bottom: $golden-ratio-2;
        }
      }
    }

    // Browse Collections
    #browse-collections {
      .browse-collections {
        .container {
          max-width: 100%;
          margin-bottom: $golden-ratio-2;

          .collection-label {
            padding-top: 15px !important;
            margin-left: auto;
            margin-right: auto;
          }

          .collection-card-container {
            margin-bottom: $golden-ratio-2;
          }
        }
      }
    }
  }

  @media (min-width: 575px) {
    // Footers
    #utk-lib-footer {
      .footer-libraries,
      .footer-university {
        .container {
          max-width: 100%;
        }
      }
    }
  }
}
/**** End Responsive Styles ****/
